In [5]:
import pandas as pd
from allensdk.api.queries.rma_api import RmaApi
from tqdm import tqdm

rma = RmaApi()

In [6]:
path = "/home/ikharitonov/Desktop/KR1/list_of_receptors.xlsx"
df = pd.read_excel(path)

receptors = [x.lower()[0].upper()+x.lower()[1:] for x in list(df['Receptor'])]
print("Receptors Loaded:")
print(receptors)
print(len(receptors),"receptors")

Receptors Loaded:
['Drd1', 'Drd2', 'Drd3', 'Drd4', 'Drd5', 'Htr1a', 'Htr1b', 'Htr1d', 'Htr1e', 'Htr1f', 'Htr2a', 'Htr2b', 'Htr2c', 'Htr4', 'Htr5a', 'Htr5bp', 'Htr6', 'Htr7', 'Htr3a', 'Htr3b', 'Htr3c', 'Htr3d', 'Htr3e', 'Chrna1', 'Chrna2', 'Chrna3', 'Chrna4', 'Chrna5', 'Chrna6', 'Chrna7', 'Chrna8', 'Chrna9 ', 'Chrna10 ', 'Chrnb1', 'Chrnb2', 'Chrnb3', 'Chrnb4', 'Chrnd', 'Chrne', 'Chrng', 'Chrm1', 'Chrm2', 'Chrm3', 'Chrm4', 'Ch4m5', 'Cnr1', 'Cnr2', 'Oprd1', 'Oprk1', 'Oprl1', 'Oprm1', 'Hrh1', 'Hrh2', 'Hrh3', 'Hrh4', 'P2ry1', 'P2ry2', 'P2ry4', 'P2ry6', 'P2ry11', 'P2ry12', 'P2ry13', 'P2ry14', 'P2rx1', 'P2rx2', 'P2rx3', 'P2rx4', 'P2rx5', 'P2rx6', 'P2rx7', 'Grm1', 'Grm2', 'Grm3', 'Grm4', 'Grm5', 'Grm6', 'Grm7', 'Grm8', 'Gabbr1', 'Gabbr2', 'Faah', 'Mgll', 'Nat2', 'Napepld', 'Amt', 'Adra1a', 'Adra2a', 'Adrb1', 'Adrb3', 'Adra1b', 'Adrad', 'Adra2b', 'Adra2c', 'Adrab2']
94 receptors

In [7]:
pd.read_csv('/home/ikharitonov/Desktop/data/ish/antisense/info.csv')

,receptor,experiment_id,plane,query_area_id,filename,has_data
0,Drd1,71307280.0,2.0,"[433, 565, 774, 778]","gene_Drd1_exp_71307280_query_area_id_[433, 565...",True
1,Drd1,352.0,1.0,"[433, 565, 774, 778]","gene_Drd1_exp_352_query_area_id_[433, 565, 774...",True
2,Drd1,353.0,2.0,"[433, 565, 774, 778]","gene_Drd1_exp_353_query_area_id_[433, 565, 774...",True
3,Drd2,358.0,2.0,"[433, 565, 774, 778]","gene_Drd2_exp_358_query_area_id_[433, 565, 774...",True
4,Drd2,357.0,1.0,"[433, 565, 774, 778]","gene_Drd2_exp_357_query_area_id_[433, 565, 774...",True
...,...,...,...,...,...,...
168,Adrad,NaN,NaN,"[433, 565, 774, 778]",NaN,False
169,Adra2b,74724532.0,1.0,"[433, 565, 774, 778]","gene_Adra2b_exp_74724532_query_area_id_[433, 5...",True
170,Adra2b,80525494.0,2.0,"[433, 565, 774, 778]","gene_Adra2b_exp_80525494_query_area_id_[433, 5...",True
171,Adra2c,70723357.0,2.0,"[433, 565, 774, 778]","gene_Adra2c_exp_70723357_query_area_id_[433, 5...",True
172,Adrab2,NaN,NaN,"[433, 565, 774, 778]",NaN,False

### Checking failed experiments

In [8]:
# Same criteria used in pipeline, but failed == true
data = {}
for receptor in tqdm(receptors):
        data[receptor] = pd.DataFrame(rma.model_query('SectionDataSet', criteria="[failed$eqtrue],products[abbreviation$eq'Mouse'],genes[acronym$eq'"+receptor+"'],probes[orientation_id$eq2]", include="probes(orientation),structure_unionizes"))

100%|██████████| 94/94 [01:09<00:00,  1.35it/s]

In [9]:
data['Drd3']

,blue_channel,delegate,expression,failed,failed_facet,green_channel,id,name,plane_of_section_id,qc_date,red_channel,reference_space_id,rnaseq_design_id,section_thickness,specimen_id,sphinx_id,storage_directory,weight,probes,structure_unionizes
0,None,False,True,True,4261170317,None,69237191,None,2,2011-12-07T21:13:33Z,None,10,None,25.0,69222929,162510,/external/aibssan/production32/prod328/image_s...,5470,"[{'ar_association_key_name': '69237191', 'dele...",[]

In [10]:
print(len(data.keys()), "receptors")
nonempty_failed_receptors = [r for r in data.keys() if not data[r].empty]
nonempty_failed_receptors

94 receptors

['Drd3',
 'Drd4',
 'Drd5',
 'Htr1a',
 'Htr2a',
 'Htr2b',
 'Chrna1',
 'Chrna2',
 'Chrna6',
 'Chrnb3',
 'Chrnb4',
 'Chrm1',
 'Chrm4',
 'Cnr1',
 'Oprd1',
 'Oprk1',
 'P2ry2',
 'P2ry6',
 'P2ry12',
 'P2ry14',
 'Grm2',
 'Grm3',
 'Adrb1',
 'Adra2b']

In [11]:
print([data[x]['structure_unionizes'] for x in nonempty_failed_receptors])
print([data[x]['id'] for x in nonempty_failed_receptors])

[0    []
Name: structure_unionizes, dtype: object, 0    []
1    []
2    []
3    []
4    []
Name: structure_unionizes, dtype: object, 0    []
1    []
Name: structure_unionizes, dtype: object, 0    []
1    []
Name: structure_unionizes, dtype: object, 0    []
1    []
Name: structure_unionizes, dtype: object, 0    []
Name: structure_unionizes, dtype: object, 0    []
Name: structure_unionizes, dtype: object, 0    []
Name: structure_unionizes, dtype: object, 0    []
1    []
Name: structure_unionizes, dtype: object, 0    []
Name: structure_unionizes, dtype: object, 0    []
1    []
2    []
Name: structure_unionizes, dtype: object, 0    []
Name: structure_unionizes, dtype: object, 0    []
1    []
Name: structure_unionizes, dtype: object, 0    []
Name: structure_unionizes, dtype: object, 0    []
Name: structure_unionizes, dtype: object, 0    []
Name: structure_unionizes, dtype: object, 0    []
Name: structure_unionizes, dtype: object, 0    []
Name: structure_unionizes, dtype: object, 0    []
Name: structure_unionizes, dtype: object, 0    []
1    []
Name: structure_unionizes, dtype: object, 0    []
Name: structure_unionizes, dtype: object, 0    []
Name: structure_unionizes, dtype: object, 0    []
1    []
Name: structure_unionizes, dtype: object, 0    []
Name: structure_unionizes, dtype: object]
[0    69237191
Name: id, dtype: int64, 0        2163
1    81790708
2    80343359
3        2164
4    79632271
Name: id, dtype: int64, 0    81600116
1    69237197
Name: id, dtype: int64, 0    581
1    582
Name: id, dtype: int64, 0    1628
1    1627
Name: id, dtype: int64, 0    67862429
Name: id, dtype: int64, 0    71380699
Name: id, dtype: int64, 0    86371
Name: id, dtype: int64, 0    79669513
1    67853370
Name: id, dtype: int64, 0    69028414
Name: id, dtype: int64, 0    81790706
1         264
2         265
Name: id, dtype: int64, 0    69549676
Name: id, dtype: int64, 0    259
1    260
Name: id, dtype: int64, 0    281
Name: id, dtype: int64, 0    69258232
Name: id, dtype: int64, 0    69258238
Name: id, dtype: int64, 0    119685
Name: id, dtype: int64, 0    1801
Name: id, dtype: int64, 0    1906
Name: id, dtype: int64, 0    2270
1    2269
Name: id, dtype: int64, 0    71307406
Name: id, dtype: int64, 0    540
Name: id, dtype: int64, 0    71213886
1    77904677
Name: id, dtype: int64, 0    69236813
Name: id, dtype: int64]

In [12]:
# compare to a non failed experiment
receptor = 'Drd3'
pd.DataFrame(rma.model_query('SectionDataSet', criteria="[failed$eqfalse],products[abbreviation$eq'Mouse'],genes[acronym$eq'"+receptor+"'],probes[orientation_id$eq2]", include="probes(orientation),structure_unionizes"))['structure_unionizes']

0    [{'expression_density': 0.000806718, 'expressi...
1    [{'expression_density': 0.00240054, 'expressio...
Name: structure_unionizes, dtype: object

In [13]:
# all 94 queried receptors have failed experiments
# all failed experiments do not have unionized data

### Checking experiments with expression == True or False

In [14]:
data = {}
for receptor in tqdm(receptors):
        data[receptor] = pd.DataFrame(rma.model_query('SectionDataSet', criteria="[expression$eqtrue],products[abbreviation$eq'Mouse'],genes[acronym$eq'"+receptor+"'],probes[orientation_id$eq2]", include="probes(orientation)"))

100%|██████████| 94/94 [01:49<00:00,  1.16s/it]

In [15]:
print(len(data.keys()))
data['Drd4']

94

,blue_channel,delegate,expression,failed,failed_facet,green_channel,id,name,plane_of_section_id,qc_date,red_channel,reference_space_id,rnaseq_design_id,section_thickness,specimen_id,sphinx_id,storage_directory,weight,probes
0,None,False,True,True,4261170317,None,80343359,None,1,2010-10-14T20:04:33Z,None,9,None,25.0,80326805,148058,None,5470,"[{'ar_association_key_name': '80343359', 'dele..."
1,None,False,True,True,4261170317,None,79632271,None,2,2010-10-14T20:04:18Z,None,10,None,25.0,79374608,35668,None,5470,"[{'ar_association_key_name': '80343359', 'dele..."
2,None,False,True,True,4261170317,None,81790708,None,2,2011-05-10T21:50:54Z,None,10,None,25.0,6521,127190,None,5470,"[{'ar_association_key_name': '81790708', 'dele..."

In [16]:
# mouse.brain-map.org only shows one experiment with ID = 112650336
# all the above experiments are failed, hence not shown in web portal
# also, only expression == True experiments were queried into data dictionary above
# the 112650336 experiment on web portal does not have expression, that's why it is probably not shown here

In [17]:
# but then, for Drd1, there are two (ID 352, 353) non failed experiments with expression == False
# they do have some levels of expression on the web portal

In [18]:
# expression == False
data = {}
for receptor in tqdm(receptors):
        data[receptor] = pd.DataFrame(rma.model_query('SectionDataSet', criteria="[expression$eqfalse],products[abbreviation$eq'Mouse'],genes[acronym$eq'"+receptor+"'],probes[orientation_id$eq2]", include="probes(orientation)"))

100%|██████████| 94/94 [01:23<00:00,  1.12it/s]

In [19]:
data['Drd2']

,blue_channel,delegate,expression,failed,failed_facet,green_channel,id,name,plane_of_section_id,qc_date,red_channel,reference_space_id,rnaseq_design_id,section_thickness,specimen_id,sphinx_id,storage_directory,weight,probes
0,None,False,False,False,734881840,None,358,None,2,None,None,10,None,25.0,702529,39917,/external/mouse/prod1/image_series_358/,5470,"[{'ar_association_key_name': '358', 'delegate'..."
1,None,False,False,False,734881840,None,357,None,1,None,None,9,None,25.0,702566,25739,/external/mouse/prod1/image_series_357/,5470,"[{'ar_association_key_name': '358', 'delegate'..."

In [20]:
# NOTE: only orientation_id==2 is selected in all of the above

In [26]:
receptor = 'Drd4'
pd.DataFrame(rma.model_query('SectionDataSet', criteria="products[abbreviation$eq'Mouse'],genes[acronym$eq'"+receptor+"']", include="probes(orientation)"))

,blue_channel,delegate,expression,failed,failed_facet,green_channel,id,name,plane_of_section_id,qc_date,red_channel,reference_space_id,rnaseq_design_id,section_thickness,specimen_id,sphinx_id,storage_directory,weight,probes
0,None,False,False,True,4261170317,None,2163,None,1,None,None,9,None,25.0,702850,33948,None,5470,"[{'ar_association_key_name': '2163', 'delegate..."
1,None,False,True,True,4261170317,None,81790708,None,2,2011-05-10T21:50:54Z,None,10,None,25.0,6521,127190,None,5470,"[{'ar_association_key_name': '81790708', 'dele..."
2,None,False,True,True,4261170317,None,80343359,None,1,2010-10-14T20:04:33Z,None,9,None,25.0,80326805,148058,None,5470,"[{'ar_association_key_name': '80343359', 'dele..."
3,None,False,False,True,4261170317,None,2164,None,2,None,None,10,None,25.0,702767,122369,None,5470,"[{'ar_association_key_name': '2163', 'delegate..."
4,None,False,False,False,734881840,None,112650336,None,1,2012-05-01T18:21:22Z,None,9,None,25.0,710946,149288,/external/mouse/prod8/image_series_112650336/,5470,"[{'ar_association_key_name': '112650336', 'del..."
5,None,False,True,True,4261170317,None,79632271,None,2,2010-10-14T20:04:18Z,None,10,None,25.0,79374608,35668,None,5470,"[{'ar_association_key_name': '80343359', 'dele..."

In [22]:
# consistent with the list on web portal
# it is unclear what "expression" column refers to

In [23]:
# last test: are there any experiments with empty structure unionizes when:
# - orientation_id == 2
# - failed == False
# are selected for all receptors

In [24]:
def get_df(receptor):
    return pd.DataFrame(rma.model_query('SectionDataSet', criteria="[failed$eqfalse],products[abbreviation$eq'Mouse'],genes[acronym$eq'"+receptor+"'],probes[orientation_id$eq2]", include="probes(orientation),structure_unionizes"))

In [25]:
data = {}
for r in tqdm(receptors):
    data[r] = get_df(r)
    data[r].to_csv(r+'.csv',index=False)
    if data[r].empty: print(r,'df empty')
    if data[r]['structure_unionizes'].empty: print(r,'structure unionizes df empty')

  9%|▊         | 8/94 [03:12<34:31, 24.09s/it]

Htr1e df empty

KeyError: 'structure_unionizes'